
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/


db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/


.env


.vscode/
.idea/
*.swp
*.swo


.dockerignore


.DS_Store
Thumbs.db